/* .css-hlj6pa-MuiDialogActions-root {
  display: none !important;
} */

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root
  .MuiPickersToolbar-penIconButton {
  display: none !important;
}
.css-1hbyad5-MuiTypography-root {
  display: none !important;
  font-family: "Poppins", sans-serif !important;
}

.css-xelq0e-MuiPickerStaticWrapper-content {
  border-radius: 16px !important;
  box-shadow: 0px 4px 4px rgba(12, 111, 249, 0.2) !important;
  min-width: 100% !important;
}
