#homeinformation {
  position: absolute;
  background-image: linear-gradient(
    to top,
    #fef6f2,
    #fff7f6,
    #fff9fa,
    #fefbfc,
    #fefdfe,
    #fefefe,
    #fffeff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  top: 83%;
  width: 100%;
  height: 350px;
}

.solid_line {
  position: absolute;
  border-top: 3px solid rgb(255, 222, 172);
  width: 80%;
  left: 10%;
}

.balanced {
  position: absolute;
  height: 34vmin;
  right: 1100px;
  top: 7%;
}
.connected {
  position: absolute;
  height: 32vmin;
  right: 610px;
  top: 4%;
}

.organised {
  position: absolute;
  height: 32vmin;
  right: 100px;
  top: 4%;
}

.textone {
  padding-top: 260px;
  padding-left: 88px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  float: left;
  width: 20%;
  color: rgb(13, 41, 101);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.texttwo {
  padding-top: 260px;
  padding-left: 270px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  float: left;
  width: 40%;
  color: rgb(13, 41, 101);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.textthree {
  padding-top: 260px;
  padding-left: 220px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  float: left;
  width: 35%;
  color: rgb(13, 41, 101);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
